.Header {
    display: flex;
    height: 100px;
    background-color: darkviolet;
    color: snow;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}
.Header a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.Header a:hover {
    scale: 1.1;
}
.Header a[class="active"] {
    color: yellow;
}